.home_title{
  color: $my-green;
  padding-top: 15px;
  padding-bottom: 10px;
}
#who-page{
  text-align: justify;
}
.img-centre{
  text-align: center;
}
.home_who_img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.my-list-style{
  list-style: inside url('https://res.cloudinary.com/do3nu0tns/image/upload/v1596704467/fmkbhzebi41m234lkoav.png');
  & li{
    margin-bottom: 15px;
    display: list-item;
  }
}
.signature{
  float: right;
  margin-bottom: 80px;
}
