#labelImage{
  width: 90vw;
  max-width: 900px;
  height: auto;
}
.myTitle{
  text-align: center;
  font-size: 40px;
  font-family: 'Akronim', cursive;
  color: $my-orange;
}
.myText{
  font-family: 'Courgette', cursive;
  margin: 0 20px;
}
.centrage{
  width: 100%;
  text-align: center;
}
