#labelImage{
  width: 50vw;
  max-width: 300px;
  height: auto;
}
.myTitle{
  text-align: center;
  font-size: 40px;
  padding: 20px;
  font-family: 'Akronim', cursive;
  color: $my-orange;
}
.myText{
  font-family: 'Courgette', cursive;
  margin: 0 20px;
}
.centrage{
  width: 100%;
  text-align: center;
}
#labelImage1{
  width: 100%;
  height: auto;
}
.mylogo{
  width: 300px;
  height: auto;
  margin-top: 25px;
}
