<link href="https://fonts.googleapis.com/css2?family=Akronim&family=Courgette&display=swap" rel="stylesheet">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="header">

  <%= link_to image_tag("logo.jpg", class: "logo"), "#" %>

  <h1 class="my-title">
    <p class="oce">Oce</p>

    <p class="nat">Nat</p>
    <p class="creations">Creations</p>
  </h1>

  <%= link_to image_tag("logo.jpg", class: "logo"), "#" %>
  
</div>

<h1>Welcome to OceNatCreations</h1>

<p>Hi <%= @user.username %>,</p>

<p>Special thanks for your inscription on my web-site OceNatCreations</p>
<p>On this web site we talk about cloth and knitting</p>

<p>Happy visiting!</p>
