body{
  margin-top: 90px;
  margin-bottom: 60px;
}
.my-container{
  height: calc( 100vh - 150px );
  background-image: linear-gradient(225deg, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.9)), url("http://res.cloudinary.com/do3nu0tns/image/upload/v1594397358/yfxhrx3zvrk89velrbty.jpg");
  background-size: cover;
}
.my-card{
  margin: 0;
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 40px;
  overflow: hidden;
}
.my-card h2{
  font-family: 'Courgette', cursive;
}
.list{
  display: none;
  font-size: 24px;
  list-style: none;
  transition: 0.5s;
  & li{
    margin-left: -40px;
    font-family: 'Courgette', cursive;
    & a{
      display: block;
      width: 100vw;
    }
  }
}

// media queries tablette

@media (min-width: 500px) and (max-width: 1200px) {
  .my-container{
    display: flex;
    flex-flow: row wrap;
  }
  .my-card{
    width: 50%;
    height: 50%;
    border: solid 2px grey;
    cursor: pointer;
  }
  .list li a{
    display: block;
    width: 70vw;
  }
}

// media queries desktop

@media (min-width: 1201px){
  .my-container{
    display: flex;
    flex-flow: row nowrap;
  }
  .my-card{
    width: 25%;
    height: 100%;
    margin-top: 40px;
    cursor: pointer;
  }
  .list li a{
    display: block;
    width: 70vw;
  }
}
