body{
  margin-top: 90px;
  margin-bottom: 60px;
}
.my-container{
  height: calc( 100vh - 150px );
  background-image: linear-gradient(315deg, rgba(236, 234, 226, 0.8), rgba(236, 234, 226, 0.6) 40%, rgba(250, 250, 250, 0)), url("https://res.cloudinary.com/do3nu0tns/image/upload/v1596480564/skxl6dkcxcyfv8xscv80.jpg");
  background-size: cover;
  background-position: center;
}
.my-card{
  margin: 0;
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 40px;
  overflow: hidden;
  transition: width .2s height .2s;
  background-size: cover;
  background-position: center;
}
.scale-title{
  transition: transform .2s;
}
.scale-title:hover{
  transform: scale(1.1);
}
.list{
  display: none;
  font-size: 24px;
  list-style: none;
  transition: 0.5s;
  width: 100vw;
  & li{
    margin-left: -40px;
    margin-bottom: 5px;
    font-family: 'Courgette', cursive;
    & a{
      display: block;
      width: 100%;
      color: #2A80B9;
    }
  }
}

// media queries tablette

@media (min-width: 500px) and (max-width: 1200px) {
  .my-container{
    display: flex;
    flex-flow: row wrap;
    background-image: none;
  }
  .my-card{
    width: 50%;
    height: 50%;
    border: solid 1px grey;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    padding: 10vmin;
  }
  .list{
    background-color: rgba(236, 234, 226, 0.8);
    padding-left: -40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    width: 100%;
  }
  .list li a{
    display: block;
    width: 100%;
  }
  #home{
    background-image: url("https://res.cloudinary.com/do3nu0tns/image/upload/v1598477019/nr9dylwpsjtwb3uco01a.jpg");
  }
  #shop{
    background-image: url("https://res.cloudinary.com/do3nu0tns/image/upload/v1598476905/ehk0z0clp1g7juqalc2s.jpg");
  }
  #articles{
    background-image: url("https://res.cloudinary.com/do3nu0tns/image/upload/v1598477047/qe7arwis6lwm6k8fplq6.jpg");
  }
  #partners{
    background-image: url("https://res.cloudinary.com/do3nu0tns/image/upload/v1598476989/jqu1y32pd8aaullfsudy.jpg");
  }
}

// media queries desktop

@media (min-width: 1201px){
  .my-container{
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    transition: opacity 0.3s;
    background-color: rgba(245, 243, 238, 0.8);;
  }
  .my-card{
    width: 32%;
    height: 100%;
    margin-top: 40px;
    cursor: pointer;
    overflow: visible;
  }
  .list{
    display: block;
    transform: translateX(150vw);
    transition-property: transform;
    transition-duration: .7s;
    width: 80vw;
    min-height: 40vh;
    border-radius: 7px;
    background-color: rgba(245, 243, 238, 0.8);
    box-shadow: 3px 3px 10px grey;
  }
  .list li a{
    display: block;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
