<h1>Veste Spitzberg</h1>

<div class="container bottom-space">
  <div class="img-centre">
    <%= cl_image_tag("q129e95o4lv0ngwsver3wsaar37d",
      width: 500, height: 900, crop: :fill, class: "header_spitz_img") %>
  </div>

  <p>Je vous présente la veste Spitzberg.</p>

  <p>Vous aurez besoin de pour une taille 40/42 :</p>
  <p>13 pelotes de Barisienne 12(Bergère de France ) : -6 ming, 2 corbeau , 2zinzolin, 2 zénith, 1 armure</p>
  <p>Aig n°12</p>
  <p>Aig circulaires n°8</p>
  <p>Crochet n°8 pour les coutures </p>
  <p>Aig Auxiliaire</p>
  <p>Points employés :</p>
  <p>point de riz :</p>
  <p>Nbre de maille multiple de 4</p>
  <p>1er et 2ème rgs : *1m.end.1m.env*répet. de *a*</p>
  <p>3ème et 4ème rgs : *1m.env.1m.end.*répet. De*a*</p>
  <p>Torsade cordée :</p>
  <p>sur 10 mailles</p>
  <p>1er et 3ème rg. (env. de l'ouvr.) 2m.end.,6m.env.,2m.end.</p>
  <p>2ème rg : 2m.env.6mend.2m.env.</p>
  <p>4ème rg : 2m.env., glisser 3m. Sur l'aig. Aux. Placée derrière (ou devant ), 3m. End puis tric. À l'end. Les 3m. De l'aig. Aux. ; 2m.env.</p>
  <p>5 et 7rgs. : comme 1er et ème rgs.</p>
  <p>6ème comme 2ème</p>
  <p>8ème comme 4ème</p>
  <p>Reprendre rang1</p>

  <h2>Devants :</h2>

  <p>ça va faire lourd mais je vous conseille de faire les deux cotés à la fois </p>
  <p>monter 28m. en bleu et 28m. en parme</p>
  <p>1m. lisière 8m. en point de riz, 10m. pour la torsade cordée (coté bleu aig. derrière l'ouv. et coté parme aig. dvt.), 8m. en point de riz, 1m. lisière</p>
  <p>10èm rg : dim. d'une m. à dr pour le coté bleu et à g. pour le coté parme</p>
  <p>à partir du 13èm rg. et jusqu'au 26èm rg. remplacer la torsade par du jersey endroit (emplacement de la poche )</p>
  <p>20èm rg : dim. d'une m.à dr./g.</p>
  <p>30èm rg : dim. d'une m. à dr./g.</p>
  <p>40èm rg : aug. d'une m. à dr./g.</p>
  <p>60èm rg : aug. d'une m. à dr./g.</p>
  <p>66èm rg rabattre 3m.à dr./g. (coté emmanchure)</p>
  <p>67èm rg rabattre 3m.à dr./g.(coté emmanchure)</p>
  <p>68èm rg rabattre 1m.à dr./g.(coté emmanchure)</p>
  <p>69èm rg rabattre 1m.à dr./g.(coté emmanchure)</p>
  <p>70èm rg rabattre 1m.à dr./g.(coté emmanchure)</p>
  <p>71èm rg rabattre 1m.à dr./g.(coté emmanchure)</p>
  <p>74,76,78, 80, 82,84, 88,90èm rg rabattre 1m.(coté encolure)</p>
  <p>92èm rg rabattre 15m. Restantes  </p>

  <h2>Poches en rouge :</h2>

  monter 16m. en centrant la torsade cordée sur 16rg.</p>
  Rabattre et coudre au crochet à l'emplacement prevu </p>
  coudre les cotés au dos au crochet</p>

  <h2>Dos :</h2>

  <div class="img-centre">
    <%= cl_image_tag("bc97du7vvapyu533eh8qczv88h7t",
      width: 500, height: 900, crop: :fill, class: "header_spitz_img") %>
  </div>

  <h2>Torsades superposées :</h2>

  <p>sur 24 mailles </p>
  <p>note : CG : croisement à gauche , 3m sur aig .aux.dvt.l'ouvr., 3m end, tricot. M glissées à l'end.</p>
  <p>CD : croisement à droite , 3m sur aig .aux. derrière.l'ouvr. , 3m end, tricot.m glissées à l'end</p>
  <p>SCG : simple croisement à gauche : 3m sur aig.aux.dvt.l'ouv.1m.env.3m.glissées à l'end.</p>
  <p>SCD : simple croisement à dr. : glisser 1m. Sur l'aig.aux derrière l'ouvr., 3m.end, m.glissée à l'env.1er rg. (env.de l'ouvr.) 2m.end., 3m.env., 4m.end., 6m.env., 4m.end., 3m.env., 2m.end.</p>
  <p>2èm rg : 2m.env., 3m.end., 4m.env., CD, 4m.env., 3m.end., 2m.env.</p>
  <p>3èm rg : et tous les rgs. impairs . Tric. les m. comme elles se présentent.</p>
  <p>4èm rg : 2m.env., (SCG, 2m.env.,SCD)X2, 2m.env.</p>
  <p>6èm rg : 3m.env., SCG, SCD, 2m.env., SCG, SCD, 3m.env.</p>
  <p>8èm rg : 4m.env., CG, 4m.env., CD, 4m.env.</p>
  <p>10èm rg : 3m.env., SCD, SCG, 2m.env., SCD, SCG, 3m.env.</p>
  <p>12èm rg : 2m.env., (SCD, 2m.env.,SCG)X2, 2m.env.</p>
  <p>14èm rg : 2m.env., 3m.end., 4m.env., CG, 4m.env., 3m.end., 2m.env. </p>
  <p>16èm rg : cm. le rg 4</p>
  <p>18èm rg : cm. le rg 6</p>
  <p>20èm rg : 4m.env., CD, 4m.env., CG, 4m.env.</p>
  <p>22èm rg : cm. le rg 10</p>
  <p>24èm rg : cm. le rg 12</p>
  <p>Reprendre rg 1</p>
  <p>monter 52m. En rouge </p>
  <p>Soit 1m. lisière 13m. en point de riz, 24m. Pour les torsades superposées, 13m. en point de riz, 1m. lisière</p>
  <p>10èm rg : dim. d'une m. à ch. bout </p>
  <p>20èm rg : dim. d'une m. à ch. bout </p>
  <p>30èm rg : dim. d'une m. à ch. bout </p>
  <p>40èm rg : aug. d'une m. à ch. bout </p>
  <p>60èm rg : aug. d'une m. à ch. bout</p>
  <p>66èm rg rabattre 3m.</p>
  <p>67èm rg rabattre 3m.</p>
  <p>68èm rg rabattre 1m.</p>
  <p>69èm rg rabattre 1m.</p>
  <p>70èm rg rabattre 1m.</p>
  <p>71èm rg rabattre 1m.</p>
  <p>90èm rg rabattre 10m.</p>
  <p>91èm rg rabattre 10m.</p>
  <p>92èm rg rabattre 20m. Restantes</p>

  <h2>Manches :</h2>

  <p>monter 26 m (8m. en point de riz, 10 pour la torsade cordée, 8m. en point de riz)</p>
  <p>Comme pour les devants faire les deux manches à la fois </p>
  <p>manche droite : aig. aux. derrière l'ouv. rouge( 32rgs), bleu(18rgs), noir(5rgs. av. dim.+12rgs),</p>
  <p>manche gauche : aig. aux. devant l'ouv. rouge( 32rgs), parme(18rgs), noir(5rgs. av. dim.+12rgs),</p>
  <p>Aug. d'une maille à chaque bout du 3ème rg et tous les trois rangs afin d'arriver au 39ème rang à 52m.</p>
  <p>Au 46ème rangs rabattre 3m.</p>
  <p>Au 47ème rangs rabattre 3m.</p>
  <p>Au 48ème rangs rabattre 2m.</p>
  <p>Au 49ème rangs rabattre 2m.</p>
  <p>Au 50ème rangs rabattre 1m.</p>
  <p>Au 51ème rangs rabattre 1m..... Jusqu'au 58ème rang</p>
  <p>rabattre les 37m. restantes </p>
  <p>coudre la manche sur les 55 ers rgs. puis coudre au corps</p>

  <div class="sleeve">
    <div class="img-centre mt-4 mb-4">
      <%= cl_image_tag("bl17c7qjh24ttgwlija8zumw7ram",
          width: 300, height: 800, crop: :fill) %>
    </div>
    <div class="img-centre mt-4 mb-4">
      <%= cl_image_tag("0n381lye5xjn372cq4f62zbr57bv",
          width: 300, height: 800, crop: :fill) %>
    </div>
  </div>


  <h2>Ceinture :</h2>

  <p>monter 7m. en noir </p>
  <p>tricoter les 12ers rg. en point de riz</p>
  <p>faire 2rgs en parme, 2rgs en rouge, 2rgs en bleu, reprendre en noir sur 120cm, arreter</p>
  <p>faire une boucle sur un coté du corps pour fixer la ceinture, la coudre  au crochet</p>
    

  <h2>Encolure :</h2>

  <p> pelote grise,à l'aide du crochet monter sur l' aig. circulaire 188m. que vous tricoterez en cotes 1/1 sur 5rg. Fermer les 110ères m. en gris et les 78 restantes en noir</p>

</div>
