.social{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  z-index: 5;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  background-color: white;
}
.my-icon{
  margin: 0 10px;
}
