.header{
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  background-color: white;
}
.logo{
  width: 90px;
  height: 90px;
}
.flag{
  width: 90px;
  height: 90px;
  margin-right: 0;
}
.my-title{
  font-size: 32px;
  font-family: 'Akronim', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.oce{
  color: $my-blue;
}
.nat{
  color: $my-green;
}
.creations{
  color: $my-orange;
}
#labelLangue{
  display: none;
}
#langue{
  width: 90px;
  height: 90px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  button{
    width: 90px;
    height: 25px;
    background-color: rgba(250, 250, 250, 0.7);
  }
}
