/*   HEADER   */
.header{
  width: 100vw;
  height: 90px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  background-color: white;
}
.logo{
  width: 90px;
  height: 90px;
  border: solid 5px #2A80B9;
}
.flag{
  width: 90px;
  height: 90px;
  margin-right: 0;
}
.my-title{
  font-size: calc( calc( 100vw - 180px ) / 6 );
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.oce, .nat, .creations{
  font-family: 'Akronim', cursive;
}
.oce{
  color: $my-blue;
}
.nat{
  color: $my-green;
}
.creations{
  color: $my-orange;
}
#labelLangue{
  display: none;
}
#langue{
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
  margin-left: calc( 50% - 45px );
  padding-top: 6px;
  button{
    width: 90px;
    height: 25px;
    background-color: rgba(250, 250, 250, 0.7);
  }
}

/*   DROPDOWN MENU   */

/* all elements */
#burger{
  font-family: sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -15px;
  right: 22px;
  transform-origin: center;
  transition: transform 1s, color 1s, Z-index 1s;
}
#cross{
  font-family: sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -15px;
  transform-origin: center;
  transition: transform 1s, color 1s, Z-index 1s;
}
#cubic{
  width: 90px;
  height: 90px;
  margin: 0;
  padding: 0;
  float: right;
  background-color: white;
  border: solid 5px #2A80B9;
  font-size: 80px;
  font-weight: bold;
  color: #2A80B9;
  transition: border-radius 1s;
}
#menu{
  padding-top: 25px;
  text-align: center;
  z-index: 4;
  width: 50vw;
  height: 50vh;
  background-color: #89cdfa;
  transform: translate( 25vw, -300px);
  position: fixed;
  transition: top 1s;
}
#menu > a{
  color: white;
}
/* classes */
.wait{
  transform: rotate(0deg);
  Z-index: 4;
  visibility: visible;
  color: #2A80B9;
}
.action{
  transform: rotate(-360deg);
  Z-index: 2;
  color: white;
}
.action2{
  transform: rotate(360deg);
  Z-index: 2;
  color: white;
}
.expand{
  border-radius: 50%;
}
.restrict{
   border-radius: 0;
}
.menuup{
  top: 0;
}
.menudown{
  top: 400px;
}
.my-cart{
  color: white;
}

// media queries tablette

@media (min-width: 500px) and (max-width: 1200px) {
  .my-title{
    font-size: calc( calc( 100vw - 180px ) / 10 );
  }
}

// media queries desktop

@media (min-width: 1201px){
  .my-title{
    font-size: calc( calc( 100vw - 180px ) / 14 );
  }
}
