
#showTitle{
  color: $my-green;
  font-family: 'Akronim', cursive;
}
.my-viewer{
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}
#left-button, #right-button{
  font-size: 40px;
  color: rgba(42, 128, 185, 0.9);

}
.fa-arrow-circle-right, .fa-arrow-circle-left{
  box-shadow: 5px 5px 15px grey;
  border-radius: 50%;
}
.picture{
  width: 80vw;
  max-width: 800px;
  height: auto;
  box-shadow: 5px 5px 15px grey;
  border-radius: 10px;
}
.my-little-picture{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
#insert-div{
  width: 100%;
  height: 100%;
}
.option-show{
    text-align: center;
    font-size: 16px;
    background-color: red;
    transform: rotateZ(-45deg);
    width: 150px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 120px;
    left: -30px;
}
.hidden-options{
  display: none;
}


#size-tableau{
  overflow-x:auto;
}

#mesures{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.row-size:nth-child(odd){
  background-color: #82b1ee
}
.cellule-size{
  text-align: left;
  padding: 10px 20px;
}
.mannequin{
  width: 80%;
  height: auto;
}
.centrage-size{
  text-align: center;
}
.title-size{
  text-align: center;
}