<ul class="social">
  <li class="my-icon"><%= link_to icon('fab', 'facebook'), "https://www.facebook.com/OceNat" %></li>
  <li class="my-icon"><%= link_to icon('fab', 'instagram'), "https://www.instagram.com/?hl=fr" %></li>
</ul>