<div class="header">
  <%= link_to image_tag("logo.jpg", class: "logo"), root_path %>
  <h1 class="my-title">
    <p class="oce">Oce</p>
    <p class="nat">Nat</p>
    <p class="creations">Creations</p>
  </h1>
  <%= image_tag("frenchFlag.png", class: "flag") %>
</div>
