<div id="editmain">

  <h1 id="clothe-edit-title">
    <%= I18n.translate("clothes.edit.update") %><br>
    <%= @clothe.name %>
  </h1>
  <div class="container">
    <%= render 'shared/form_clothe' %>
  </div>

</div>