<h1 class="home_title">Contact</h1>
<p>Pour nous contacter :</p>
<p>OcéNat Créations</p>
<br>
<p>	16 rue des tilleuls,</p>
<p>	16360 Baignes Ste Radegonde</p>
<br>
<p>tél : 0641311956</p>
<p>messenger : @OceNat </p>
<p>e-mail : ocenat.creations@orange.fr</p>