#cart-show-title{
  color: $my-green;
}
.total-space{
  width: 100%;
}
.total-space table{
  width: 100%;
}
.cellule-show{
    border: 1px solid rgba(42, 128, 185, 0.9);
}
thead,
tfoot {
    background-color: rgba(42, 128, 185, 0.9);
    color: #fff;
}
.row-min-height{
  height: 20px;
}
.my-table-center{
  text-align: center;
}
#trash i{
  color: $main-color;
}

@media (max-width: 500px){
  .hidden-phone{
    display: none;
  }
}

@media (min-width: 501px){
  .hidden-phone{
    display: table-cell;
  }
}