#cart-show-title{
  color: $my-green;
}
table,
td {
    border: 1px solid rgba(42, 128, 185, 0.9);
    min-width: 25vw;
}
thead,
tfoot {
    background-color: rgba(42, 128, 185, 0.9);
    color: #fff;
}